body {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 350px;
    background-color: rgb(192, 192, 192);
    padding: 10px;
}

.display {
    width: 350px;
    height: 70px;
    background-color: rgb(204, 203, 203);
}

.numbers, .function {
    width: 80px;
    height: 40px;
}

.two-buttons {
    display: flex;
    justify-content: space-between;
}

.num-and-func {
    display: flex;
    justify-content: space-between;
}

.function-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.prev-number {
    height: 25px;
    text-align: right;
    padding-right: 10px;
}

.current-number {
    height: 45px;
    text-align: right;
    padding-right: 15px;
}

.clear, .delete {
    height: 40px;
    width: 100px;
}

.clear {
    background-color: rgb(176, 223, 255);
}

.delete {
    background-color: rgb(255, 190, 190);
}

.two-buttons {
    padding: 15px 40px;
}
